<nav role="navigation" class="navbar head-color">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Rajshops</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Admin<b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">wish list</a></li>
                <li class="divider"></li>
                <li><a href="#">Cart</a></li>
            </ul>
            </li>
        </ul>
    </div>
</nav>
