<ul class="nav nav-tabs nav-stacked">
        <li> <a href="/products/new">Add product</a></li>
        <li> <a href="/store/index">Product</a></li>
        <li> <a href="#">Cart</a></li>
        <li> <a href="#">Buy now</a></li>
        <li> <a href="#">Products</a></li>
        <li> <a href="#">Electronics</a></li>
        <li> <a href="#">Mobile</a></li>
        <li> <a href="#">Dress</a></li>
        <li> <a href="#">Books</a></li>
</ul>
