<ul class="nav nav-tabs nav-stacked">
        <li> <a href="#">Home</a></li>
        <li> <a href="#">Profile</a></li>
        <li> <a href="#">Cart</a></li>
        <li> <a href="#">Buy now</a></li>
        <li> <a href="#">Products</a></li>
        <li> <a href="#">Electronics</a></li>
        <li> <a href="#">Mobile</a></li>
        <li> <a href="#">Dress</a></li>
        <li> <a href="#">Books</a></li>
</ul>
